#searchButton {
  margin-top: 20px;
  font-size: 200%;
}
#queryField{
  margin-top: 40px;
}
#gifStream {
  margin-top: 30px;
   width: 90%;
   background-color: #232d22;
   border-radius: 2%
}



body{
  background-color: #3e513b;

}
