 
#searchButton {
    width: 180px;
    height: 50px;
    background: #866768;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 5px 10px #2c2130;
    margin-top: 20px;
    font-size: 120%;
}

#searchButton:active{
  box-shadow: none;
}



#queryField{
  margin-top: 40px;
  font-size: 200%;
  color: #000000;
  background-color: #866768;
  box-shadow: 5px 5px 10px #2c2130;
  text-align: center;
  border-radius: 20px;
  border: none;
}
#gifStream {
  margin-top: 30px;
   width: 90%;
   background-color: #866768;
   border-radius: 20px;
}

body{
  background-color: #4c384a;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: darkgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: darkgray;
}
:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}



